<!DOCTYPE html>
<html>
<head>
    <title>About page</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    {{>header}}
    {{!-- <h1>Welcome to our About page!....you little bitch</h1> --}}
    <div class="index">
        <h1>
            Welcome to the about page
        </h1>
        <p>
            The weather app was created using mapbox and darksky.net links are below
            <div>
                <a id="link" href="https://www.mapbox.com/">mapbox</a>
                <a id="link" href="https://darksky.net/">darksky.net</a>
            </div>
        </p>
        <div class = "faqs">
            <span>{{faq1}}</span>
        </div>

        <div class = "faqs">
            <span>{{teams}}</span>
        </div>

        <div class = "faqs">
            <span>{{services}}</span>
        </div>
    </div>

     {{>footer}}   
</body>
</html>