<!DOCTYPE html>
<html>
<head>
    <title>Landing page</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    {{>header}}
    <div class="index">
        {{msg}}
    </div>
    {{>footer}}
</body>
</html>