<div class="footer">
    <div class="logo">
        created by: {{name}}
    </div>
    <div class="links">
        <a href="/">home</a>
        <a href="/help">services</a>
        <a href="/about">FAQ</a>
    </div>
</div>