<div class="header">
    <div class="logo">
        weather.com
    </div>
    <div class="links">
        <a href="/">home</a>
        <a href="/help">services</a>
        <a href="/about">FAQ</a>
    </div>
</div>